:root {
  --vh: 1vh;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #111;
  overflow: hidden;
}

#flipbook-wrapper {
  width: 100vw;
  height: calc(var(--vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

#flipbook {
  width: 100vw;
  height: 100%;
}
