/* ---------- RESET ---------- */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #111;
  overflow: hidden;
}

/* ---------- CENTER ONLY ---------- */
#flipbook-wrapper {
  width: 100vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- IMPORTANT ---------- */
/* Do NOT scale the book */
#flipbook {
  width: auto;
  height: auto;
}

/* ---------- PAGES ---------- */
.page {
  background: #fff;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

/* ---------- REMOVE FLOAT / LIFT ---------- */
.stf__parent,
.stf__wrapper {
  transform: none !important;
}

